.bash-basket-page-header {
	padding: 2.6rem 9.6rem;
}

.header-box {
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
	-webkit-mask-image: linear-gradient(
		to right,
		transparent,
		black 7%,
		black 93%,
		transparent 100%
	);
}

.scroll-text {
	/* animation properties */
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);

	-moz-animation: scroller 15s linear infinite;
	-webkit-animation: scroller 15s linear infinite;
	animation: scroller 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes scroller {
	from {
		-moz-transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-110%);
	}
}

/* for Chrome */
@-webkit-keyframes scroller {
	from {
		-webkit-transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(-110%);
	}
}

@keyframes scroller {
	from {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-110%);
		-webkit-transform: translateX(-110%);
		transform: translateX(-110%);
	}
}

.product-grid {
	margin: 0 5%;
	column-gap: 3.8rem;
}

.category-header {
	grid-column: 1/-1;
	justify-self: flex-start;
}

.category-header-header {
	margin: 0 0 -2rem 0;
}

.check-out-footer {
	position: fixed;
	bottom: 5vh;
	left: 50%;
	transform: translate(-50%, 0);

	padding: 2rem 5rem;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #fff;
	/* box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.2); */
	box-shadow: 0 0.1rem 3rem 0 rgba(153, 83, 169, 0.301);
	border-radius: 5px;
}

.checkout-btn:link,
.checkout-btn:visited {
	display: inline-block;
	background-color: #f7dffd;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.8rem;
	padding: 1.6rem 3.2rem 1.6rem 3.2rem;
	transition: background-color 0.3s;

	/* box-shadow: 0 5px 1px -1px #000; */
}

.checkout-btn:hover,
.checkout-btn:active {
	border-bottom: solid 0.5rem #333;
	margin-bottom: -0.5rem;
}

.checkout-btn:active {
	background-color: #dec9e4;
}
