/* REQUEST SUMMARY*/

.section-request-summary {
	padding: 6rem 0 2rem;
}

.request-container {
	padding: 0 1.3rem;
}

.section-request-summary .heading-secondary {
	padding: 0 5rem;
}

.request-summary {
	position: relative;
	padding: 4rem 2rem;
	box-shadow: 0 0.1rem 3rem 0 rgba(153, 83, 169, 0.301);
	border-radius: 5px;
	margin-bottom: 2rem;
}

.request-summary strong {
	color: #9953a9;
}

.request-summary-body {
	height: 30rem;
	overflow: hidden;
	-webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.request-summary-body.request-summary-body--expanded {
	height: auto;
	-webkit-mask-image: none;
	mask-image: none;
	margin-bottom: 0;
}

.request-summary-grid {
	column-gap: 3rem;
	row-gap: 1rem;
}
.request-summary-text {
	text-align: center;
	align-self: center;
	justify-self: center;
}
.request-summary-header {
	color: #333;
	font-weight: 500;
	font-size: 2.4rem;
	margin-bottom: 2rem;
	/* padding: 0 1.6rem; */
	line-height: 1.4;
}

.request-summary-paragraph {
	font-size: 1.6rem;
	color: #555;
	line-height: 1.6;
	margin-bottom: 1.8rem;
}

.request-summary-media-box {
	height: 20rem;
	width: 17rem;
	/* padding: 3rem 0; */

	grid-column: 2/3;
	align-self: center;
	justify-self: center;
}

.read-more-button {
	position: absolute;
	top: 87%;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

.read-more-button.read-more-button--expanded {
	top: 94%;
	left: 50%;
}
