/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

@media (max-width: 94em) {
  .heading-primary {
    font-size: 5rem;
  }
}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .section-event-categories .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-brand-box {
    grid-row: 1/2;
  }

  .hero-text-box {
    text-align: center;
  }

  .hero-buttons {
    margin: 0 auto;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 1;
  }

  /*   .hero-brand-box--closed {
    display: none; 
  } */

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* z-index: -1; */
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    transition: all 0.5s ease-in;
    z-index: 1;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--footer {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
  }

  .logo-col {
    grid-column: 1/3;
  }

  .section-how-it-works .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .how-it-works-connector {
    display: none;
  }

  .section-how-it-works .heading-secondary {
    padding: 0 3rem;
  }
  .section-how-it-works .grid {
    padding: 0 5rem;
  }

  .how-it-works-left-images {
    width: 20rem;
    height: 30rem;
    justify-self: center;
    margin-top: 5rem;
  }

  .how-it-works-right-images {
    width: 20rem;
    height: 30rem;
    justify-self: center;
    margin-top: 5rem;
  }

  .how-it-works-left-images.images-1 {
    grid-column: 1;
    grid-row: 1;
    margin-right: 2rem;
  }

  .how-it-works-description.description-1 {
    grid-column: 1;
    grid-row: 2;
  }

  .how-it-works-right-images.images-2 {
    grid-column: 1;
    grid-row: 3;
  }
  .how-it-works-description.description-2 {
    grid-column: 1;
    grid-row: 4;
  }

  .how-it-works-left-images.images-3 {
    grid-column: 1;
    grid-row: 5;
  }
  .how-it-works-description.description-3 {
    grid-column: 1;
    grid-row: 6;
  }

  .how-it-works-right-images.images-4 {
    grid-column: 1;
    grid-row: 7;
  }
  .how-it-works-description.description-4 {
    grid-column: 1;
    grid-row: 8;
  }

  .footer-logo {
    margin: 0 auto 1rem auto;
    height: 15rem;
  }
  .social-links {
    margin: 0 auto 2rem auto;
  }
  .copyright {
    margin: 0 auto 2rem auto;
  }

  /* Submission success */
  .section-submission-success .grid--2-cols {
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 4rem;
  }

  .submission-success-text-box {
    margin: 0 auto 9.6rem auto;
    text-align: center;
  }

  .btn--post-submission:link,
  .btn--post-submission:active {
    margin: 0 auto;
  }

  .submission-success-image-box {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
  }

  .geisha-gif-overlay-text {
    font-size: 2.4rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .heading-primary {
    font-size: 3.6rem;
  }
  .heading-secondary {
    font-size: 2.8rem;
  }
  .event-categories-description {
    font-size: 1.8rem;
    padding: 0 3.6rem;
  }

  .category-card img {
    width: 20rem;
    height: 35rem;
  }
  .section-event-categories .grid--3-cols {
    column-gap: 0;
  }

  .cta {
    grid-template-columns: 1fr;
    background-image: linear-gradient(to top, rgba(247, 228, 252, 1), #e4cde3);
  }

  .cta-img-box {
    grid-row: 1/2;
    background-size: cover;
    background-position: bottom;
    height: 25rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta-form .inquiry-field {
    grid-column: 1 / 2;
  }

  .cta-form button {
    grid-column: 1 / 2;
  }

  .cta-text {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 3.6rem;
  }

  .call-us-text {
    font-size: 2.5rem;
    transform: translate(30%, -460%) rotate(-10deg);
  }

  .section-submission-success .grid--2-cols {
    row-gap: 0rem;
  }

  .submission-success-image-box {
    height: 35rem;
    padding: 0;
  }

  .margin-top-large {
    margin-top: 15rem !important;
  }

  .geisha-gif {
    height: 80%;
    filter: hue-rotate(60deg) invert(0.2);
    border-left: solid 3rem #000;
    border-radius: 0.5rem;
  }

  .geisha-gif-video {
    height: 100%;
  }

  .geisha-gif-overlay-text {
    font-size: 2rem;
    left: 3%;
    text-shadow: 0 0 0.8rem #eebefa;
  }
}

/**************************/
/* BELOW 430px ( new Phones) */
/**************************/
@media (max-width: 27em) {
  .grid {
    row-gap: 3.6rem;
  }

  .hero {
    padding: 0 4rem;
    gap: 3.6rem;
  }

  .brand-name {
    font-size: 8.7rem;

    letter-spacing: 1.25rem;
    line-height: 1.11;
    transform: translate(25%, 27%);
  }
  .brand-background {
    width: 30rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
    padding: 1.2rem 2.6rem 1.2rem 2.6rem;
  }

  .heading-primary {
    font-size: 2.8rem;
  }
  .heading-secondary {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .event-categories-description {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0 1.2rem;
    width: 97%;
    margin-bottom: 4.6rem;
  }

  .category-card img {
    width: 17rem;
    height: 30rem;
  }

  .category-card-text {
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .category-card:hover .category-card-text,
  .category-card:active .category-card-text {
    border-bottom: solid 0.25rem #eee;
    margin-bottom: -0.25rem;
    text-shadow: 0 0.2rem 0.3rem #eebefa;
  }

  .section-how-it-works .heading-secondary {
    font-size: 2rem;
    line-height: 1.4;
    padding: 0 1rem;
  }
  .section-how-it-works .grid {
    padding: 0 3rem;
  }

  .how-it-works-left-images,
  .how-it-works-right-images {
    width: 15rem;
    height: 22.5rem;
    justify-self: center;
    margin-top: 3.2rem;
  }

  .how-it-works-description {
    margin-top: 2rem;
    margin-bottom: 1.8rem;
  }

  .how-it-works-description-header {
    font-size: 2rem;
    line-height: 1.5;
  }

  .how-it-works-description p {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .how-it-works-left-images.images-1 {
    grid-column: 1;
    grid-row: 1;
    margin-right: 3rem;
  }

  .how-it-works-description.description-1 {
    grid-column: 1;
    grid-row: 2;
  }

  .how-it-works-right-images.images-2 {
    grid-column: 1;
    grid-row: 3;
  }
  .how-it-works-description.description-2 {
    grid-column: 1;
    grid-row: 4;
  }

  .how-it-works-left-images.images-3 {
    grid-column: 1;
    grid-row: 5;
  }
  .how-it-works-description.description-3 {
    grid-column: 1;
    grid-row: 6;
  }

  .how-it-works-right-images.images-4 {
    grid-column: 1;
    grid-row: 7;
  }
  .how-it-works-description.description-4 {
    grid-column: 1;
    grid-row: 8;
  }

  .section-how-it-works a {
    margin-top: 4rem;
  }

  .section-blog .grid--2-cols {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .blog-article {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }

  .blog-article-body {
    height: 15rem;
  }

  .blog-article-header {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    /* padding: 0 1.6rem; */
    line-height: 1.4;
  }

  .read-more-button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 50%;
  }

  .read-more-icon {
    height: 2rem;
    width: 2rem;
  }

  .cta-text-box {
    padding: 5rem 2rem 2rem 3rem;
  }

  .blog-article-media-box {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
  }

  .blog-article-gif {
  }

  .cta .heading-secondary {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    line-height: 1.4;
  }

  .cta-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .cta-form label {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }
  .cta-form input,
  .cta-form select,
  .cta-form textarea {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .btn--form {
    font-size: 1.8rem;
    width: 80%;
    justify-self: center;
  }
  .button-icon {
    width: 2rem;
    height: 2rem;
  }
  .call-us-text {
    font-size: 2.5rem;
    transform: translate(30%, -520%) rotate(-10deg);
  }

  .submission-success-text-box {
    margin: 0 auto 4rem auto;
    text-align: center;
    width: 35rem;
    margin-bottom: 18rem;
  }

  .submission-success-description {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 5rem;
  }

  .submission-success-image-box {
    height: 25rem;
    padding: 0;
  }

  .geisha-gif {
    height: 80%;
    filter: hue-rotate(60deg) invert(0.2);
    border-left: solid 3rem #000;
    border-radius: 0.5rem;
  }

  .geisha-gif-video {
    height: 100%;
  }

  .geisha-gif-overlay-text {
    font-size: 1.6rem;
    top: 60%;
    left: 5%;
    text-shadow: 0 0 0.8rem #eebefa;
  }

  .section-footer {
    padding: 10rem 0;
    border-top: 1px solid #eee;
  }
}
