/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1260px (Landscape Tablets) */
/**************************/
@media (max-width: 80em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .section-hero {
    padding: 0 0 9.6rem;
  }

  .hero-brand-box {
    margin-top: -3rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 1;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
  }

  .nav-open .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
    animation: slideIn ease 0.5s;
    -webkit-animation: slideIn ease 0.5s;
    z-index: 1;
  }

  @keyframes slideIn {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }

  .nav-close .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(100%);
    animation: slideOut ease 0.5s;
    -webkit-animation: slideOut ease 0.5s;
    z-index: 1;
  }

  @keyframes slideOut {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.8rem;
  }

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    font-size: 2.1rem;
  }
}

/**************************/
/* BELOW 896px (Tablets) */
/**************************/
@media (max-width: 56em) {
  html {
    font-size: 50%;
  }

  .contact-layout {
    grid-template-columns: 1fr;
  }

  .contact-img-col {
    max-height: 50rem;
  }

  .contact-details-col {
    padding: 4.8rem 4rem;
  }

  .hero-tagline {
    font-size: 3.6rem;
  }

  .hero-clients-text {
    font-size: 1.2rem;
  }

  .grid--footer-slim {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .section-hero {
    padding: 4rem 0 6rem;
    min-height: unset;
  }

  .hero--centered {
    gap: 2.4rem;
  }

  .brand-name {
    font-size: 7rem;
    letter-spacing: 1rem;
    line-height: 1.08;
    transform: translate(20%, 22%);
  }

  .brand-background {
    width: 24rem;
  }

  .hero-brand-box {
    margin: 5rem 0;
  }

  .hero-tagline {
    font-size: 2.2rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
    letter-spacing: 0.25rem;
  }

  .hero-clients-text {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }

  .heading-secondary {
    font-size: 2.8rem;
  }

  .contact-details-col {
    padding: 4rem 2.4rem;
  }

  .header-logo {
    height: 8rem;
  }

  .section-footer {
    padding: 6.4rem 0;
  }
}
