/***************************** */
/* HEADER */
/***************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf7fe;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.header-logo{
  display: block;
  height: 11rem;
  padding: 1.2rem 0 1.2rem 0;
}

/***************************** */
/* NAVIGATION SECTION */
/***************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 0 1.2rem 0;
  color: #666;
  font-weight: 500;
  font-size: 1.8rem;
  transition: background-color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #47394b;
  border-bottom: solid 0.3rem #da77f2;
  margin-bottom: -0.3rem;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  background-color: #eebefa;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
}

.main-nav-link.nav-cta:hover {
  background-color: #eebefa;
  border-bottom: solid 0.3rem #333;
  margin-bottom: -0.3rem;
}

.main-nav-link.nav-cta:active {
  background-color: #d6abe1;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/***************************** */
/* HERO SECTION */
/***************************** */

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf7fe;
  box-shadow: 0 4px 4px -4px rgb(0, 0, 0, 0.2);
}

.hero {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 9.6rem;
}
.hero-buttons {
  display: flex;
  gap: 2.4rem;
}

.hero-brand-box {
  position: relative;
  justify-self: center;
}

.brand-name {
  position: absolute;
  font-size: 12rem;
  font-family: "Poppins";
  color: #000;
  font-weight: 800;
  letter-spacing: 1.9rem;
  line-height: 1.15;
  transform: translate(23%, 18%);
}

.brand-background {
  width: 45rem;
}

/***************************** */
/* EVENT CATEGORIES SECTION */
/***************************** */

.section-event-categories {
  padding: 9.6rem 0;
}

.event-categories-description {
  font-size: 2.2rem;
  color: #555;
  width: 60rem;
  margin: 0 auto;

  text-align: center;
  line-height: 1.3;

  margin-bottom: 9.6rem;
}

.category-card:link,
.category-card:visited {
  display: inline-block;
  position: relative;
}

.category-card img {
  object-fit: cover;
  filter: brightness(90%);
  width: 35rem;
  height: 55rem;
  box-shadow: 0 0.1rem 3rem 0 rgba(0, 0, 0, 0.3);
}
.category-card--darker img {
  filter: brightness(70%) grayscale(30%);
}

.category-card-text {
  position: absolute;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 2rem 1rem 2rem;

  text-transform: uppercase;
  color: #eee;
  background-color: #000;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  transition: text-shadow 0.3s;
}

.category-card:hover .category-card-text,
.category-card:active .category-card-text {
  border-bottom: solid 0.4rem #eee;
  margin-bottom: -0.4rem;
  text-shadow: 0 0.3rem 0.5rem #eebefa;
}

/***************************** */
/* CTA SECTION */
/***************************** */

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  background-image: linear-gradient(to right, rgba(247, 228, 252, 1), #e4cde3);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #47394b;
}

.cta .heading-secondary {
  color: #47394b;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right,

      rgba(247, 228, 252, 0.452),
      rgba(238, 190, 250, 0.253)
    ),
    url(../img/contact-form-img-2.png);

  background-size: cover;
  background-position: bottom;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #999;
  text-align: top;
}

.cta-form .inquiry-field {
  position: relative;
  grid-column: 1 / 3;
}

.cta-form .inquiry-field textarea {
  height: 9.4rem;
  resize: none;
}

.cta-form button {
  grid-column: 2 / 3;
  box-shadow: 0 0.1rem 0.5rem rgba(71, 57, 75, 0.1);
}

.button-icon {
  width: 2.4rem;
  height: 2.4rem;
  transform: translate(-5%, 15%) rotate(20deg);
}

.call-us-text {
  position: absolute;
  top:0;
  left:0;
  font-family: "Caveat";
  font-size: 4rem;
  font-weight: 600;
  color:#333;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translate(60%,-220%) rotate(-10deg);
}

.call-us-number{
  color:#333;
  text-decoration: none;
}

.cta-form *:focus {
  outline: none;
  /*   outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem #c2aec8;
}

/***************************** */
/* FOOTER SECTION */
/***************************** */

.section-footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.footer-logo {
  display: block;
  height: 13rem;
  padding: 1.2rem 0 1.2rem 0;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 3.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link a:link,
.footer-link a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: color 0.3s;
}

.footer-link a:hover,
.footer-link a:active {
  color: #555;
  border-bottom: solid 0.3rem #da77f2;
  margin-bottom: -0.3rem;
}
